
body{
	font-family: 'Lato';
}


header{
	margin: 0 auto;
	max-width: 810px;
}


main{
	margin: 0 auto;
	max-width: 810px;
}



footer{
	margin: 0 auto;
	max-width: 810px;
}




.title{
	font-weight: 900;
	font-size: 45px;
	line-height: 130%;
}



[class*=__impor]{
	margin-bottom: 25px;
	margin-top: 80px;
} 

.bottom-title{
	font-weight: 700;
	font-size: 28px;
	line-height: 42px;
	margin-bottom: 25px;
	margin-top: 48px;
}

.main__text{
	max-width: 600px; 
}

.text{
	line-height: 25px;
}

.basic__topic  li::before{
	content: "";
	background: url('../img/icons/Vector.svg') 0 0 no-repeat; 
	line-height: 170%;
	padding-left: 30px;
}

.footer__bottom{
	max-width: 600px; 
}


#element{
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.footer-impor{
	margin-bottom: 16px;
}

.information{
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	margin-bottom: 32px;
}

.lowerest__topic{
	font-weight: 700;
	line-height: 25px;
	margin-bottom: 32px;
}

.lowerest__topic li:nth-child(1)::before{
	content: "";
	background: url('../img/icons/Star.svg') 0 0 no-repeat; 
	padding-left: 25px;
	line-height: 170%;
}

.lowerest__topic li:nth-child(2)::before{
	content: "";
	background: url('../img/icons/Play.svg') 0 0 no-repeat; 
	padding-left: 25px;
	line-height: 170%;
}

.lowerest__topic li:nth-child(3)::before{
	content: "";
	background: url('../img/icons/Profile.svg') 0 0 no-repeat; 
	padding-left: 25px;
	line-height: 170%;
}

.footer__bottom{
	margin-bottom: 400px; 
}

/* мои эксперименты */

.wrapper{ 
	margin: 0 auto;
	max-width: 1400px;
	background-color: lightgreen;
	border-radius: 30px; 
	min-height: 300px;
}

.main-title{
	padding: 30px 0px 0px 0px;
}

.title-top{
	font-size: 40px;
	text-transform: capitalize;
	color: white;
	margin: 0px 0px 0px 550px;
}

.title-top:hover{
	color: black;
	text-transform: uppercase;
	width: 150px;
	height: 50px;
	background: white;
	border-radius: 30px 30px 0 0 ; 
	font-weight: 700;
	padding: 5px; 
}

.under-title{
	max-width: 600px;
	margin-left: 50px;
	margin-top: 30px; 
}

.under-title::after{
	content: "";
	background: url('../img/New_York_1_1.jpg') 0 0 / cover no-repeat;
	padding: 100px;
	margin: 0px 0px 0px 645px; 
	border-radius: 100px; 
}

.bottom-text p{
	margin-bottom: 10px; 
}
.bottom-text{
	margin: 0px 0px 0px 90px;
}

.bottom-text p:not(:last-child){
	margin: 0px 0px 0px 50px;
	color: white;
}

.bottom-text>*:not(:first-child){
	color: rgb(50, 99, 205);
}

.bottom-text>*:first-child{
	color: rgb(0, 81, 255);
	font-weight: 900;
	font-family: fantasy;
	font-size: 25px;
}

.link{
	width: 150px;
	height: 40px;
	background-color: khaki;
	text-transform: uppercase;
	padding: 15px;
	border-radius: 30px; 
	margin: 0px 0px 0px 550px;
}
	
.link:hover::before{
	content: "";
	background: url('../img/please.png') 0 0 no-repeat; 
	padding-left: 35px;
	padding-bottom: 10px;
	line-height: 170%;
}

.link:active::before{
	content: "";
	background: url('../img/sparkling-heart-lg\ \(1\).png') 0 0 no-repeat; 
	padding-left: 35px;
	padding-bottom: 10px;
	line-height: 170%;
}

.link:active{
	background-color: rgb(255, 189, 211);
}

.head-text{
	margin: 50px 0 0 60px;
	background-color: coral;
	color: white;
	max-width: 500px; 
	padding: 15px;
	font-style: 20px;
	border-radius: 40px; 
	display: none;
}

.head-text:target{
	display: block;
}